In [2]:
import pandas as pd

Завдання 1: Прочитайте csv файл

In [3]:
df = pd.read_csv('stat.csv')

Завдання 2: Виведіть перші 10 рядків

In [4]:
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

Завдання 3: Виведіть розміри датасету

In [5]:
df.shape

(550, 7)

Питання: Про скільки книг зберігає дані датасет?

In [6]:
num_books = df.shape[0]
print(num_books)

550


Завдання 4: Змініть назви колонок

In [7]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

Завдання 5: Вивести кількість пропусків у кожному стовпчику

In [8]:
missing_values = df.isnull().sum()
print(missing_values)

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

Питання: Чи є в якихось змінних пропуски? (Так / ні)

In [9]:
has_missing_values = any(missing_values > 0)
print(has_missing_values)

False

Завдання 6: Перевірте унікальні жанри

In [10]:
unique_genres = df['genre'].unique()
print(unique_genres)

['Non Fiction' 'Fiction']

Завдання 7: Визначте максимальну, мінімальну, медіанну ціну

In [11]:
max_price = df['price'].max()
min_price = df['price'].min()
mean_price = df['price'].mean()
median_price = df['price'].median()
print('Максимальна ціна: ', max_price, ', мінімальна ціна: ', min_price, ', середня ціна:', mean_price, ', медіанна ціна: ', median_price, '.')

Максимальна ціна:  105 , мінімальна ціна:  0 , середня ціна: 13.1 , медіанна ціна:  11.0 .

Завдання 8: Пошук і сортування даних

In [12]:
max_rating = df['user_rating'].max()
num_books_with_max_rating = df[df['user_rating'] == max_rating].shape[0]

max_reviews_book = df[df['reviews'] == df['reviews'].max()]['name'].iloc[0]

expensive_2010 = df[df['year'] == 2010]['price'].idxmax()
expensive_2010_title = df.loc[expensive_2010, 'name']

num_fiction_2012 = df[(df['year'] == 2012) & (df['genre'] == 'Fiction')].shape[0]

num_4_9_rating_2010_2011 = df[(df['user_rating'] == 4.9) & ((df['year'] == 2010) | (df['year'] == 2011))].shape[0]
print('Який рейтинг у датасеті найвищий? ', max_rating)
print('Скільки книг мають такий рейтинг? ', num_books_with_max_rating)
print('Яка книга має найбільше відгуків? ', max_reviews_book)
print('З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?', expensive_2010_title)
print('Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році?', num_fiction_2012)
print('Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках?' , num_4_9_rating_2010_2011)

Який рейтинг у датасеті найвищий?  4.9
Скільки книг мають такий рейтинг?  52
Яка книга має найбільше відгуків?  Where the Crawdads Sing
З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? Publication Manual of the American Psychological Association, 6th Edition
Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році? 21
Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках? 1

Завдання 9: Вивести максимальну і мінімальну ціну для жанру Fiction I NonFiction

In [13]:
grouped_genre = df.groupby('genre').agg({'price': ['max', 'min']})
grouped_genre.loc[['Fiction', 'Non Fiction'], ['price']]

            price
              max min
genre
Fiction        82   0
Non Fiction   105   0